<!-- Eric JENN 2018 -->
<!-- The world file (twirtee2.world) has been created using gazebo. -->
<launch>	  
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find twirtee_gazebo)/worlds/twirtee.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>	
	
	<!-- urdf xml robot description loaded on the Parameter Server,
	     converting the xacro into a proper urdf file-->
	<param 	name="robot_description" 
		command="$(find xacro)/xacro.py '$(find twirtee_description)/urdf/twirtee.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node 	name="twirtee_spawn" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		output="screen"
	 	args="-urdf -param robot_description -model twirtee" />

	<!-- ros_control twirtee launch file -->
	<include file="$(find twirtee_control)/launch/twirtee_control.launch" />

	<!-- Run RVIZ-->
	<node 	name="$(anon rviz)" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find twirtee_control)/twirtee.rviz" 
		output="screen"/>
</launch>

