<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find twirtee_control)/config/twirtee_control.yaml" command="load"/>

	<!-- load the controllers -->
	<!-- Type "spawner" is used to spawn a set of controllers. See http://wiki.ros.org/controller_manager --> 
	<!-- rplidar_position_controller is added for the TF to be published for that joint.-->
	<node name="controller_manager"
		pkg="controller_manager"
		type="spawner" respawn="true"
		output="screen" ns="/twirtee"
		args=	"joint_state_controller
			rightWheel_effort_controller
			leftWheel_effort_controller
			joint0_position_controller
			joint1_position_controller
			joint3_position_controller
			joint5_position_controller
			rplidar_position_controller"
	/>


	<node name="joint_state_publisher" 
		pkg="joint_state_publisher" 
		type="joint_state_publisher"
		output="screen">
		<param name="use_gui" value="true" />
	</node>
	

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node 	name="robot_state_publisher" 
			pkg="robot_state_publisher" 
			type="robot_state_publisher" 
			respawn="false" 
			output="screen">
		<param 	name="robot_description" 
		command="$(find xacro)/xacro.py '$(find twirtee_description)/urdf/twirtee.xacro'" />
		<remap from="/joint_states" to="/twirtee/joint_states" />
	</node>

</launch>

